h1 {
  font-family: "Oswald", sans-serif;
  color: blueviolet;
}
img {
  width: 400px;
  height: 400px;
}
#web-dev-basics {
  font-family: "Quicksand", sans-serif;
  color: darkorchid;
  font-weight: bold;
  font-size: 35px;
}
